.footer{
    width: 100%;
    padding: 10px 0px;
    box-shadow: 0px 2px 8px black ;
    position: absolute;
    bottom: 0;
}
.footer p{
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    font-style: italic;
    /* margin-left:150px; */
    background-color: gainsboro;
}